@import "./styles/theme.css";
@import "./styles/diary.css";

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  overflow: hidden;
}

textarea,
input {
  background: none;
  border: 0;
  outline-style: none;
  resize: vertical;
}

#root {
  background: var(--surface-color);
  padding: 0 20px;
}

.page {
  height: 100vh;
}